div {
    display: block;
    padding: 0px;
}

html, body {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
/* HEADER */
.header {
    background-color: rgb(61, 216, 74);
    height: 300px;
    color: white;
}

.header p{
    padding-top: 10px;
    margin-left: 15px;
    font-size: 1.8em;
    font-weight: 600;
}

.header h4{
    float: right;
    margin-right: 15px;
    padding-top: 10px;
    font-size: 1.7em;
    font-weight: 500;
}
/*
.header a{
    padding-top: 30px;
    margin-left: 15px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

.header a:hover {
    filter:drop-shadow(0px 0px 4px white);
}*/

/* FOOTER */
.footer {
    margin-top: 3000px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

/* RESPONSIVE -----------------------------------------------------------------------*/
.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* SIDENAV --------------------------------------------------------------------------*/
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 25px;
}

.icon-side{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.social-side{
    width: 75%;
    border-radius: 4%;
}

.social-top{
    margin-bottom: 1%;
    margin-left: 10px;
}

.social-side:hover {
    box-shadow: 4px 4px 3px 1px rgb(0, 165, 187);
    transition: 0.8s;
}

.lang-top{
    padding-top: 15px;
}

.lang-top table{
    width: 35%;
}

.lang-top td{
    padding-left: 10px;
}

.lang-side{
    width: 100%;
    border-radius: 4%;
}

.lang-side:hover {
    box-shadow: 4px 4px 3px 1px rgb(0, 165, 187);
    transition: 0.8s;
}

.sidenav h3{
    color: #000000;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
  
.sidenav a {
    text-decoration: none;
    color: #000000;
    display: block;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}
  
.sidenav a:hover {  
    color: rgb(0, 150, 170);;
    text-shadow: 0 0 8px rgb(32, 229, 255);
    transition: 0.8s;
}
  
.main {
    margin-left: 20%; /* Same as the width of the sidenav */
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 6px; font-weight: 400;}
    .sidenav h3 {font-size: 9px;}
}

/*IMAGE GRID -----------------------------------------------------------------------------*/
.row {
    margin: 8px 8px;
}
  
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 6px;
}   
  
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none; /* Hide columns by default */
}
  
/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Content */
.content {
    background-color: rgb(65, 110, 146);
    padding: 6px;
    color: rgb(10, 10, 10);
    font-weight: 500;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.content p{
    font-size: 1.1em;
}

.content img{
  display: block;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}
  
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.0em;
}
  
/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}
  
/* Add a dark background color to the active button */
.btn.active {
    background-color: #666;
     color: white;
}


/* LIGHTBOX -----------------------------------------------------------------------------*/
.row1 > .column1 {
    padding: 0 8px;
}
  
.row1:after {
    content: "";
    display: table;
    clear: both;
}
  
.column1 {
    float: left;
    width: 12.5%;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(44, 44, 44);
    margin-bottom: 10px;
}

.modal::-webkit-scrollbar{
    display: none;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgb(44, 44, 44);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
  
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 45px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}

.mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.cursor {
    cursor: pointer;
}
  
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: white;
    font-size: 1.6em;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.caption-container {
    text-align: center;
    background-color: rgb(44, 44, 44);
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
  
.demo {
    opacity: 0.7;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}