/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 100px;
}

/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

 ::-webkit-scrollbar-thumb {
    background:rgb(49, 175, 60);
}
